language: node_js

node_js:
  - lts/*

# never build when commited by the bot
# + prevent double build on dev -> master Pull Request
if: sender != "vue-styleguidist-bot" AND sender != "Vue Styleguidist Bot" AND (type = pull_request OR branch = master)

cache: yarn

before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.13.0
  - export PATH="$HOME/.yarn/bin:$PATH"

install:
  - yarn install

# In order to avoid double build on pull requests,
# only build on pushes on master and on pushes on pull requests
branches:
  only:
    - master

jobs:
  include:
    - stage: test
      script:
        - yarn lint
        - yarn test:unit --runInBand
        - yarn test:e2e --headless
        - npx danger ci

    - stage: demo
      script: yarn build:demo
      deploy:
        skip_cleanup: true
        provider: surge
        project: ./dist/
        domain: vue-live.surge.sh

    - stage: release
      script:
        - yarn build
        - npx semantic-release
