name: Build & Test
on:
  pull_request:
    types: [opened, synchronize]
    branches: master

concurrency:
  group: test-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install
        run: npm ci

      - name: Check types
        run: npm run types:check

      - name: Test unit
        run: npm run test:unit

      - name: Test e2e
        run: npm run test:e2e
